<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as ToBuyList">
     <h2>To Buy:</h2>
     <table style="margin-left: 15px;">
       <tr ng-repeat="item in toBuyItems">
         <td style="padding-right: 15px;">
            Buy {{item.quantity}} {{item.name}}
         </td>
         <td>
            <button ng-click="ToBuyList.itemWasBought($index)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
         </td>
       </tr>
     </table>
     <div ng-if="toBuyItems.length==0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as AlreadyBoughtList">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in alreadyBoughtItems">Bought {{item.quantity}} {{item.name}}</li>
     </ul> 
     <div ng-if="alreadyBoughtItems.length==0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
